<div class="heading-box text-center" *ngIf='showButton'>
  <button class="btn btn-primary" (click)="displayForm('admin')">Admin</button>
  <button class="btn btn-warning" (click)="displayForm('manage')">Manage Feature</button>
</div>

<div *ngIf='adminView'>

  <div class="container-fluid admin-data-form">
    <div class="row sub-menu">
      <div class="col-md-12">
        <h5>
          <a class="activate-admin" (click)='exit()'> Activate | Exit</a>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Activate Branches</h5>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-1 activation-date">Activation Date:</div>
      <div class="col-sm-2 padding-none">
          <input type="date" class="form-control" id="activationDate" name="entryTimestamp"  required>
        <!-- <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue"> -->
      </div>
      <div class="col-sm-1 text-right ">Features:</div>
      <div class="col-sm-3 padding-none">
        <ngx-select-dropdown (change)="handleFeature($event)" [(value)]="adminFeature" [config]="featureConfig" [options]="adminFeatureDropdown"></ngx-select-dropdown>
      </div>
      <div class="col-sm-1 text-right ">branchAU:</div>
      <div class="col-sm-2 padding-none">
        <ngx-select-dropdown (change)="handleBranch($event)" [(value)]="branchAU" [config]="branchAuDropdownConfig" [options]="branchAUDropdown"></ngx-select-dropdown>
      </div>
      <div class="col-sm-1 text-right">
        <button class="btn btn-primary" (click)="handleSearch()"> Search</button>
      </div>

    </div>
    <div class="row">
      <table class="table table-striped table-bordered">
        <thead class="table-heading">
          <tr>
            <th scope="col">Select</th>
            <th scope="col">Branch AU</th>
            <th scope="col">Feature Name</th>
            <th scope="col">Activation Date</th>
            <th scope="col">Feature Default</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of branchConfig; let i = index" [attr.data-index]="i">
            <td class="text-center">
              <input class="form-check-input" type="checkbox" value="">
            </td>
            <td>{{data.branchAU}}</td>
            <td>{{data.featureName}}</td>
            <td>{{data.entryTimestamp | date}}</td>
            <td>{{data.featureDefaultChar}}</td>
            <td class="text-center">
              <img data-toggle="modal" (click)='handleEdit(data,i)' data-target="#exampleModal" height="20" width="20" src="../../assets/edit.png"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{selectedRow.featureName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Feature Name</label>
            <input type="text" [(ngModel)]="selectedRow.featureName" name="feature" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter Feature Name">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">branchAU</label>
            <input [(ngModel)]="selectedRow.branchAU" name="branch" type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter branchAU">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Select Activation Date</label>
            <input type="date" class="form-control" id="activationDate" name="entryTimestamp" [ngModel]="selectedRow.entryTimestamp | date:'yyyy-MM-dd'" (ngModelChange)="selectedRow.entryTimestamp = $event"
              [value]="selectedRow.entryTimestamp | date:'yyyy-MM-dd'" #activationDate="ngModel" required>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-dismiss="modal" aria-label="Close" (click)="saveChanges(selectedRow)">Save Changes</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf='managerView' class="container-fluid">
  <div class="row sub-menu">
    <div class="col-md-12">
      <h5>
        <a class="activate-admin" (click)='exit()'>Exit</a>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>
        Managae Feature
      </h5>
    </div>
    <div class="col">

    </div>
    <div class="col">
      <label class="manage-feature">Select Feature Name:</label>
      <select class="manager-dropdown" [(ngModel)]="appName" (ngModelChange)="selectChangeHandler(appName)">
        <option *ngFor="let option of dropdownOptions">{{option.appName}}</option>
      </select>
      <button class="btn btn-primary" (click)='selectedValue()' style="margin-top: -5px">GO</button>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <table class="table table-striped table-bordered">
      <thead class="table-heading">
        <tr>
          <th scope="col">releaseIdentifier</th>
          <th scope="col">app name</th>
          <th scope="col">height</th>
          <th scope="col">width</th>
          <th scope="col">is fullscreen</th>
          <th scope="col">color</th>
          <th scope="col">Edit</th>
          <th scope="col">Save</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of navigationItems.branchConfigs">
          <td>{{data.appVersion}}</td>
          <td>{{data.appName}}</td>
          <td>{{data.properties.iconHeight}}</td>
          <td>{{data.properties.iconWidth}}</td>
          <td>{{data.properties.fullScreen}}</td>
          <td>{{data.properties.iconColor}}</td>
          <td>
            <img height="20" width="20" src="../../assets/edit.png" />
          </td>
          <td>
            <img height="20" width="20" src="../../assets/save.png" />
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <table class="table table-striped table-bordered">
      <thead class="table-heading">
        <tr>
          <th scope="col">releaseIdentifier</th>
          <th scope="col">property</th>
          <th scope="col">value</th>
          <th scope="col">Edit</th>
          <th scope="col">Save</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of selectedData">
          <td>{{data.releaseIdentifier}}</td>
          <td>{{data.property}}</td>
          <td>{{data.value}}</td>
          <td>
            <img height="20" width="20" src="../../assets/edit.png" />
          </td>
          <td>
            <img height="20" width="20" src="../../assets/save.png" />
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker({
      language: 'pt-BR'
    });
  });
</script>